<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Tema</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.tema.errors && f.tema.touched }"
            formControlName="tema"
            placeholder="Insira o Tema"
          />
          <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
            Tema é obrigátorio
          </div>
          <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">
            O minímo de caracter permitido é (4).
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Local</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.local.errors && f.local.touched }"
            formControlName="local"
            placeholder="Insira o Local"
          />
          <div *ngIf="f.local.errors?.required" class="invalid-feedback">
            Local é obrigátorio
          </div>
        </div>
        <div class="form-group col-md-3">
          <label>Data e Hora</label>
          <input
            type="datetime"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.dataEvento.errors && f.dataEvento.touched
            }"
            formControlName="dataEvento"
            placeholder=""
            bsDatepicker
            [bsConfig]="{
              isAnimated: true,
              adaptivePosition: true,
              dateInputFormat: 'DD/MM/YYYY hh:mm a' }"

          />
          <div *ngIf="f.dataEvento.errors?.required" class="invalid-feedback">
            Data e Hora é obrigátorio
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Qtd Pessoas</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.qtdPessoas.errors && f.qtdPessoas.touched
            }"
            formControlName="qtdPessoas"
            placeholder=""
          />
          <div *ngIf="f.qtdPessoas.errors?.required" class="invalid-feedback">
            Qtd Pessoas é obrigátorio
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.telefone.errors && f.telefone.touched
            }"
            formControlName="telefone"
            placeholder="(00) 90000-0000"
          />
          <div *ngIf="f.telefone.errors?.required" class="invalid-feedback">
            Telefone é obrigátorio
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Email</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"
            formControlName="email"
            placeholder="e-mail"
          />
          <div *ngIf="f.email.errors?.required" class="invalid-feedback">
            E-mail é obrigátorio
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input
            type="text"
            class="form-control"
            formControlName="imagemUrl"
            placeholder="imagemUrl"
          />
          <div class="invalid-feedback">Imagem é obrigátorio</div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="voltar()">
          Cancelar Alteração
        </button>
        <div class="d-flex ms-auto">
          <button class="btn btn-success" (click)="atualizarEvento()">
            <span class=""></span>
            Salvar Evento
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
