<h2><app-titulo [titulo]="'Eventos'" [iconClass]="'fa fa-calendar-alt'" [botaoListar]="true" ></app-titulo></h2>


<div action="" class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label>&nbsp;
    <input type="text" class=" mr-200 " placeholder="buscar" [(ngModel)]="filtroLista" />&nbsp;
    <!-- <button class="btn btn-success btn-sm">Pesquisar</button> -->
  </div>
</div>

<button
  class="btn btn-warning btn-sm mb-2"
  type="submit"
  (click)="mostrarImg()"
>
<i class="{{ mostrar ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
  {{ mostrar ? "Ocultar Imagem" : "Exibir Imagem" }}
</button>

<br />
<table class="table table-striped">
  <thead class="table-dark text-center">
    <tr>
      <th *ngIf="mostrar" scope="col">Logo</th>
      <th scope="col">#</th>
      <th scope="col">Tema</th>
      <th scope="col">Local</th>
      <th scope="col">Data</th>
      <th scope="col">Qtd Pessoa</th>
      <th scope="col">Lote</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length" class="text-center">
    <tr *ngFor="let evento of eventosFiltrados">
      <td *ngIf="mostrar">
        <img
          src="/assets/{{ evento.imagemUrl }}"
          [style.width.px]="tamanhoImagem"
          [style.margin.px]="margemImagem"

        />
      </td>
      <td>
        <strong>{{ evento.id }}</strong>
      </td>
      <td>
        <strong>{{ evento.tema }}</strong>
      </td>
      <td>
        <strong>{{ evento.local }}</strong>
      </td>
      <td>
        <strong>{{ evento.dataEvento | DateTimeFormatPipe }}</strong>
      </td>
      <td>
        <strong>{{ evento.qtdPessoas }}</strong>
      </td>
      <td>
        <strong>{{ evento.lotes[0].nome | uppercase }}</strong>
      </td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" title="Editar">
          <i class="fa fa-edit"></i>
          Editar
        </button>&nbsp;
        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" title="Excluir"
        (click)="openModal(template)">
          <i class="fa fa-trash"></i>
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="8" class="text-center" *ngIf="!eventos.length">
        <h4>Nenhum evento encontrado !</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar esse Evento ?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>


